roles:
  - conoha
  - sakura
  - excloud

conoha:
  users:
    - name: k0kubun
      password: encrypted_password
      ssh_key: public_key

sakura:
  users:
    - name: k0kubun
      password: encrypted_password
      ssh_key: public_key

excloud:
  users:
    - name: k0kubun
      password: encrypted_password
      ssh_key: public_key

shared:
  rbenv:
    global:
      2.2.0
    versions:
      - 2.1.5
      - 2.2.0
    gems:
      - bundler
  gate:
    cookie_secret: secret
    client_id: aaaa
    client_secret: bbbb
